* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: linear-gradient(to bottom, #5d007a, #4b006e, #2e003e);
  color: #333;
}
.dashboard {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.hero-im {
  width: 50px;
  height: 50px;
  background-image: url('/index folder/image/icons8-e-learning-48.png');;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
}

.dashboard-btn {
  padding: 6px 18px;
  background-color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background 0.2s;
}

.dashboard-btn:hover {
  background-color: #f0f0f0;
}

.classcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  padding: 2rem;
}

.classcode-container h1 {
  font-family: "Oleo Script", system-ui;
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  color: #fcf7f7;
}

.classcode-container form {
  width: 100%;
  max-width: 400px;
}

.classcode-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.classcode-container button {
  width: 100%;
  padding: 0.75rem;
  background: #0073b1;
  color: #fdfcfc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.classcode-container button:hover {
  background: #097fbe;
}
footer {
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: #dfdddd;
  text-decoration: none;
  margin: 0 0.5rem;
}