* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #02142e;
  display: flex;
  align-items: center;     
  justify-content: center;  
  height: 100vh;        
  padding: 30px 16px;    
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  width: 100%;
  height: 90vh;
  padding: 16px;
  background-color: #f9f9fb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}


/* === Top Section === */
.top-section {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 20px;
}

/* === Profile Box === */
.profile-section {
  flex: 1;
  min-width: 240px;
  max-width: 400px;
  margin-top: 1rem;
  background-color: #f9f9fb;
  height: 25vh;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  gap: 12px;
}
.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ccc;
  background-image: url('avatar.png');
  background-size: cover;
  background-position: center;
  margin-left: 2rem;
}
.personal-info h2 {
  font-size: 20px;
  color: #511069;
}
.personal-info p {
  font-size: 14px;
  color: #555;
}

/* === Leaderboard Box === */

.leaderboard-section {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
    min-width: 240px;
  max-width: 400px;
  height: 30vh;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  overflow-y: auto;
}
.scroll-box {
  max-height: 135px;
  overflow-y: auto;
  padding-right: 10px;
}

.scroll-box ul {
  list-style: none;
  padding: 0;
}

.scroll-box li {
  padding: 6px;
  background: #e0e0e0;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.leaderboard-section h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #511069;
}
.leaderboard-section ul {
  list-style: none;
  padding-left: 0;
}
.leaderboard-section li {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

/* === Logout Button === */
.logout-btn {
  margin-top: 8px;
  padding: 8px 12px;
  font-size: 13px;
  background-color: #511069;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.add-class-btn{
  margin-top: 8px;
  padding: 8px 12px;
  font-size: 13px;
  background-color: #511069;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* === Header === */
.main .header {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #511069;
  margin-bottom: 18px;
}

/* === Stats Grid === */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 20px;
}
.stat-card {
  background-color: #fff;
  padding:10px;
  border-radius: 10px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
}
.stat-number {
  font-size: 20px;
  color: #0072ff;
  font-weight: bold;
}
.stat-label {
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

/* === Bottom Section (Written Stats + Radar) === */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}
.bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 16px;
}

/* === Written Stats === */
.written-stats {
  flex: 1;
  min-width: 240px;
  max-width: 400px;
  height: 30vh;
  background-color: #fff;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
}
.written-stats h3 {
  font-size: 20px;
  color: #511069;
  margin-bottom: 10px;
}
.written-stats p {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
}

/* === Radar Chart === */
.radar-chart {
  flex: 1;
  min-width: 400px;
  max-width: 400px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
}
canvas {
  width: 100% !important;
  height: 180px !important;
}

/* === Modal pop up === */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex; justify-content: center; align-items: center;
  z-index: 999;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  width: 300px;
  position: relative;
  text-align: center;
}
.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.modal-content button {
  margin-top: 10px;
  padding: 8px 16px;
}
.modal-content .close {
  position: absolute;
  right: 15px; top: 10px;
  font-size: 18px;
  cursor: pointer;
}
